<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>Messages</title>
</head>

<body>
<nav class="navbar navbar-light bg-light">
    <div class="input-group">
        <a class="navbar-brand" href="/"
           style="margin-left: 4%;
           color: rgba(248,248,248,1);
           font-family: 'Euphemia UCAS',serif;
           background-color: rgba(123,142,255, 0.9);
           padding: 5px 10px 5px 10px;
           border-radius: 6px;">💌 Upload
        </a>
        <input class="form-control"
               placeholder="Search Messages"
               style="margin-left: auto;
               min-width: 20%;
               max-width: 30%;
               margin-right: 4%;
               border-radius: 6px;"
               type="text">
    </div>
</nav>
<div id="displayedMessages"
     style="margin-left: 5%;
     margin-right: 5%;
     border-style: solid;
     border-radius: 10px;
     display: compact;
     border-color: rgba(95,95,95, 0.2)">
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
    // load data which was read in flask from a json file
    messages = {{ data | safe }}

    displayMessages(messages);

    function displayMessages(data) {
        let msg_string = "";
        let sender_string = "";
        let time_string = "";
        let isMe = "";  // bool to show if a message is from the user or not (for displaying on opposite side)

        // read the lines from data and construct messages/images
        for (let item in data) {
            if ( Object.hasOwnProperty.call(data, item) ) {
                let element = data[item];

                if ( element.includes("content: ") ) {
                    msg_string = element.substring("content: ".length);
                    msg_string = msg_string.replaceAll('â', '\'');
                } else if ( element.includes("sender: ") ) {
                    sender_string = element.substring("sender: ".length);

                    //need to make this not dependent on myself
                    if ( sender_string === "andrey.takhtamirov" ) {
                        isMe = true;
                    } else {
                        isMe = false;
                    }
                } else if ( element.includes("time: ") ) {
                    time_string = element.substring("time: ".length);
                } else if ( element.includes("url: ") ) {
                    createImage(processUrl(element));
                }
            }

            if ( msg_string.length !== 0 && sender_string.length !== 0 && time_string.length !== 0 ) {
                createMessage(msg_string, sender_string, time_string, isMe);
                msg_string = "";
                sender_string = "";
                time_string = "";
            }
        }
    }

    function processUrl(urlElement) {
        return urlElement.substring("url: ".length + 35, urlElement.length);
    }

    function createImage(imgPath) {
        let img = document.createElement('img');
        img.src = imgPath;
        img.style.width = "300px";
        // img.onclick = function () {
        //     zoomImage(this)
        // };
        img.onmouseover = function () {
            this.style.width = "auto";
        }
        img.onmouseout = function () {
            this.style.width = "300px";
        }
        img.style.paddingLeft = "5px";
        img.style.paddingBottom = "5px";
        img.style.display = "block";
        document.body.appendChild(img);
    }

    function createMessage(message, sender, time, isMe) {
        //this will be the container for the whole message: (message, sender, time)
        let newMessage = document.createElement("div");

        //create sender child
        let newSender = document.createElement("div");
        newSender.appendChild(document.createTextNode(sender));

        //create content child
        let newContent = document.createElement("div");
        newContent.style.backgroundColor = "rgba(83,201,236, 0.2)";
        newContent.style.borderRadius = "10px 10px 0px 0px";
        newContent.style.color = "rgb(86,86,86)";
        newContent.style.paddingTop = "5px";
        newContent.style.paddingLeft = "10px";
        newContent.style.paddingRight = "10px";

        newContent.appendChild(document.createTextNode(message));

        //create time child
        let newTime = document.createElement("div");
        newTime.style.color = "rgb(100,100,100)";
        newTime.style.fontSize = "15px";
        newTime.style.textAlign = "right";
        newTime.style.backgroundColor = "rgba(83,201,236, 0.2)";
        newTime.style.borderRadius = "0px 0px 10px 1px";
        newTime.style.paddingTop = "5px";
        newTime.style.paddingRight = "10px";
        newTime.style.paddingLeft = "10px";
        newTime.style.paddingBottom = "5px";
        newTime.appendChild(document.createTextNode(time));

        //set padding between whole messages
        newMessage.style.paddingBottom = "4.5%";
        newMessage.style.paddingLeft = "1%";
        newMessage.style.paddingTop = "1%";
        newMessage.style.fontSize = "18px";
        newMessage.style.display = "table";
        newMessage.style.maxWidth = "50%";
        newMessage.style.fontFamily = "arial";

        if ( isMe === true ) {
            newContent.style.backgroundColor = "rgba(140,95,245,0.2)";
            newTime.style.backgroundColor = "rgba(140,95,245,0.2)";
            newSender.style.display = "none";
            newMessage.style.marginLeft = "auto";
            newMessage.style.paddingRight = "1%";
            newMessage.style.maxWidth = "400px";

            newTime.style.textAlign = "left";
            newContent.style.textAlign = "right";
            newTime.style.borderRadius = "0px 0px 1px 10px";
        }

        //append the elements of a message together: sender, content, time
        newMessage.appendChild(newSender);
        newMessage.appendChild(newContent);
        newMessage.appendChild(newTime);

        //append whole message child to body
        document.getElementById("displayedMessages").appendChild(newMessage);
    }

    function zoomImage(img) {
        if ( img.style.width === "300px" ) {
            img.style.width = "auto";
        } else {
            img.style.width = "300px"
        }
    }

</script>
</body>
</html>