<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
<p id="messages" style="margin-left:300px;"></p>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script type="text/javascript">
    messages = {{ data|safe }};

    displayMessages(messages);

    function displayMessages(data) {
        msg_string = "";

        data.forEach(function (item, index) {
            msg_string += item += "<br>";

            if(item.includes("sender:")) {
                msg_string += "<br>";
            }
        });
        document.getElementById("messages").innerHTML = msg_string;
    }
</script>
</body>
</html>